===============================================================================================
IM
===============================================================================================
URLIM => https://myim.intra.ais/prweb/PRWebLDAP1/
ResuIM => SIRIPHOC
SsapWordIM => ChocolateLate#2486
titleReport => ReportSOSDPromotion_ServiceRequest
DayRange => 6
StatusCase => Pending-Review
===============================================================================================
My Office
===============================================================================================
URLMyofficeWeb => https://myoffice-portal.intra.ais
ResuMyoffice => siriphoc@ais.co.th
SsapWordMyoffice => ChocolateLate#2486
===============================================================================================
Path Folder
===============================================================================================
PathDownload => C:\Users\paisw049\Downloads
PathReportSOSD => D:\SOSD_AutomateSR\ReportSOSDPromotion
PathOutputReport => D:\SOSD_AutomateSR\ReportCloseCase
PathReportDaily => D:\SOSD_AutomateSR\ReportSummary\ReportDaily
PathReportMonthly => D:\SOSD_AutomateSR\ReportSummary\ReportMonthly
PathTemplateCloseCase => D:\SOSD_AutomateSR\Templates\Import_CloseCaseIM_Template.xlsx
PathTemplateCheckMO => D:\SOSD_AutomateSR\Templates\PSP_SR_Template.xlsx
PathMappingFile => D:\SOSD_AutomateSR\Templates\Mapping_FeatureCode.xlsx
